---
---
@import "./hamburgers";
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  &.overflow {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  @media(max-width: 600px) {
    position: fixed;
    top: 0;
  }
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  overflow: hidden;
  @media (min-width: 38em) {
    font-size: 20px;
  }
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
h1 {
  font-family: 'Lekton', sans-serif;
}
h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 2.8rem;
  font-weight: 100;
  text-align: center;
}
h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 2.2rem;
}
h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  color: #eee;
  -webkit-text-fill-color: initial;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  max-width: 800px;
  width: 80%;
  margin: 16px auto; 
  text-align: justify;
  position: relative;
  @media(max-width: 768px) {
    font-size: 2rem;
    width: 92%;
    max-width: 92%;
  }
}
.ta-r {
  text-align: right;
  padding-top: 12px;
}
.menu {
  width: 54px;
  position: absolute;
  right: 2vw;
  top: 4vh;
  cursor: pointer;
  z-index: 10;
  .hamburger:focus {
    border: none;
    outline: none;
  }
   &:after {
    content: '';
    background-color: #f8f8ff;
    position: absolute;
    width: 100%;
    height: 110px;
    left: 0;
    top: 0;
    bottom: -2px;
    position: absolute;
    transition: all 1.6s ease;
  }
  &.active:after {
    width: 0%;
    left: initial;
    right: 0;
  }
}
.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  left: initial;
  transform: translateX(110vw);
  transition: all 1s cubic-bezier(0.26, -0.01, 0.01, 1.02);
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255, .98);
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: no-wrap;
  flex-direction: column;
  margin-bottom: 4vh;
  overflow-y: scroll;
  @media(max-width: 768px) {
    justify-content: flex-start;
    padding: 4rem 2rem;
  }
  &.active {
    transform: translateX(0);
    h2, p, .social-media a {
      transform: translateY(0);
    }
     .social-media a:hover {
      transform: translateY(0) rotateZ(180deg);
    }
  }
  h2, p, .social-media a {
    display: block;
    transform: translateY(-300px);
    transition: all 1.5s cubic-bezier(0, 0.14, 0, 0.92);
  }
  h2 {
    @media(max-width: 768px) {
      margin-top: 200px;
    }
    @media(max-width: 768px) {
      margin-top: 54px;
      margin-bottom: 24px;
    }
  }
  p:last-of-type {
    min-width: 760px;
    @media(max-width: 768px) {
      font-size: 2rem;
      width: 96vw;
      min-width: 94vw;
    }
    @media(max-width: 600px) {
      max-width: 100%;
      min-width: 0;
    }
  }
}
.social-media {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media(max-width: 600px) {
    margin: 4vh auto 8vh auto;
  }
  a {
    margin: 2%;
    border: 1px solid #222;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    padding: 18px;
    position: relative;
    transition: all .3s ease;
    &:hover {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    svg {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 50%;
    }
  }
}
.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  background-image: url('../images/bg-img.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 2vh 4vw;
  overflow: hidden;
  z-index: 0;
  @media(max-width: 768px) {
    background-position: bottom right;
  }
  @media(max-width: 600px) {
    justify-content: flex-start;
    align-items: center;
    padding-left: 6vw;
  }
  h1 {
    font-size: 25vw;
    margin: 0;
    -webkit-transition: all .3s ease;
    background-color: rgba(255,255,255,.8);
  }
  font-weight: bold;
  line-height: 1;
  span:last-of-type {
    font-size: 4rem;
    font-family: 'Lekton', sans-serif;
  }
  &:before {
    content: '';
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    background-color: #f8f8ff;
    background-position: -.65em 0;
  }
  h1.mobile {
    display: none;
    font-size: 16rem;
    margin-top: 4vh;
    @media(max-width: 768px) {
      display: block;
    }
    @media(max-width: 400px) {
      font-size: 12rem;
    }
    span {
      display: block;
      background: inherit;
      font-weight: 900;
      line-height: .89;
      &:nth-of-type(4) {
        display: inline-block;
      }
      &:last-of-type {
        display: inline-block;
        float: right;
        transform: translate(0px, 12vh);
      }
    }
  }
  h1.header {
    display: block;
    @media(max-width: 768px) {
      display: none;
    }
  }
  h1.hero-font {
    position: relative;
    background: inherit;
    opacity: 1;
  }
}
.right {
  position: absolute;
  right: 2vw;
  transform: translate(-6vw, -6vh);
  bottom: 0;
  -webkit-text-fill-color: #222;
  transition-delay: 3s;
  transition: all .3s ease;
  background: inherit;
  opacity: 0;
  &.active {
    opacity: 1;
  }
  @media(max-width: 768px) {
    left: 6vw;
    right: initial;
    top: 6vh;
    bottom: initial;
    transform: translate(0vw, 0vh);
  }
  h3 {
    font-size: 1.8rem;
    margin: 0;
    color: #283546;
    font-weight: 100;
  }
}
.bubble-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}
.bubbles.active {
  width: 100%;
  height: auto;
  display: block;
  .circle {
    stroke: white;
     background: radial-gradient(circle at 100px 100px, #F5F5F5, #fff);
    filter: drop-shadow(0px 0px 1px 1px rgba(34,34,34, .8));
    // box-shadow: 0px 0px 6px 2px rgba(0,0,0, 1);
    fill: rgba(244,244,244, .3);
  }
  > g > g:nth-of-type(3n) .circle {
    stroke: #fff;
  }
  > g > g:nth-of-type(4n) .circle {
    stroke: #fff;
  }
}
.bubbles-large.active {
  overflow: visible;
  > g {
    transform: translateY(2048px);
    opacity: 0;
    will-change: transform, opacity;
  }
  g:nth-of-type(1) {
    animation: up 7.5s infinite;
    
    g {
      transform: translateX(350px);
    }
    .circle {
      animation: wobble 3s infinite ease-in-out;
    }
  }
  
  g:nth-of-type(2) {
    animation: up 6.25s 550ms infinite;
    g {
      transform: translateX(450px);
    }
    .circle {
      animation: wobble 3s infinite ease-in-out;
    }
  }
  g:nth-of-type(3) {
    animation: up 7s 1050ms infinite;
    g {
      transform: translateX(700px);
    }
    .circle {
      animation: wobble 3s infinite ease-in-out;
    }
  }
}
.bubbles-small.active {
  overflow: visible;
  > g {
    transform: translateY(2048px);
    opacity: 0;
    will-change: transform, opacity;
  }
  g .circle {
    transform: scale(0);
  }
  g:nth-of-type(1) {
    animation: up 6.25s infinite;   
    g {
      transform: translateX(350px);
    }
    .circle {
      animation: wobble 3s infinite ease-in-out;
    }
  }
  g:nth-of-type(2) {
    animation: up 6.75s infinite; 
    g {
      transform: translateX(750px);
    }
    .circle {
      animation: wobble 3s infinite ease-in-out;
    }
  }
  g:nth-of-type(3) {
    animation: up 6.25s 650ms infinite; 
    g {
      transform: translateX(350px);
    }
    .circle {
      animation: wobble 3s 250ms infinite ease-in-out;
    }
  }
  g:nth-of-type(4) {
    animation: up 6.75s 825ms infinite; 
    g {
      transform: translateX(180px);
    }
    .circle {
      animation: wobble 3s 325ms infinite ease-in-out;
    }
  }
  g:nth-of-type(5) {
    animation: up 7s 425ms infinite; 
    g {
      transform: translateX(350px);
    }
    .circle {
      animation: wobble 3s 550ms infinite ease-in-out;
    }
  }
  g:nth-of-type(6) {
    animation: up 6.13s 650ms infinite;
    g {
      transform: translateX(650px);
    }
    .circle {
      animation: wobble 3s 125ms infinite ease-in-out;
    }
  }
}
@keyframes wobble { 
  33% {
    transform: translateX(-50px);
  }
  66% {
    transform: translateX(50px);
  }
}
@keyframes up {
  0% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-40vh);
  }
}
